@import url("colors.css");

.header-container {
  padding-top: 30px;
  display: grid;

  grid-template-areas:   "logo title logout";
  grid-template-columns: auto auto 1fr;
  grid-template-rows: auto;
  grid-row-start:    header;
  grid-row-end:      header;
  grid-column-start: header;
  grid-column-end:   header;
}

.logo-image {
  height: 100px;
  width: 100px;
}

.logo {
  grid-row-start:    logo;
  grid-row-end:      logo;
  grid-column-start: logo;
  grid-column-end:   logo;
}

.title {
  grid-row-start:    title;
  grid-row-end:      title;
  grid-column-start: title;
  grid-column-end:   title;
  margin-top: auto;
  margin-bottom:  auto;
  color: var(--white);
  font-size: 25px;
  font-weight: bold;

}

.logout-button-container {
  grid-row-start:    logout;
  grid-row-end:      logout;
  grid-column-start: logout;
  grid-column-end:   logout;
}

.logout-button {
  float: right;
  color: var(--white);
}

/*
.header {
  overflow: hidden;
  width: 100vw;
  padding-left: 10%;
}

.header img {
  width: 100px;
  height: 100px;
}

p {
  text-align: center;
  display: inline-block;
  color: var(--white);
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-right {
  float: right;
  margin-right: 10%;
  color: var(--white);
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
}*/